openapi: 3.2.0
info:
  title: Nacuity Pharmaceuticals Content Posts API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind www.nacuity.com.
  description: The read-only content surface Nacuity Pharmaceuticals exposes at https://www.nacuity.com/wp-json. Nacuity Pharmaceuticals is a clinical-stage biopharmaceutical company developing NPI-001 (N-acetylcysteine amide tablets) for retinitis pigmentosa and NPI-002 (an intravitreal implant) for the delay of cataract progression; it runs no developer program and markets no product API. This document is an API Evangelist derivation of the WordPress `wp/v2` route index the site publishes at /wp-json/, restricted to the operations that were verified to return data anonymously on 2026-08-04. Write operations, `/wp/v2/users`, `/wp/v2/settings`, `/wp/v2/menus`, `/wp/v2/themes`, `/wp/v2/plugins`, `/wp/v2/templates`, the `wp-abilities/v1` namespace, the `wordfence/v1` namespace, the `wp-site-health/v1` namespace and the authenticated half of `yoast/v1` and `exactmetrics/v1` all require authentication and are deliberately excluded — see x-api-evangelist-provenance.
  contact:
    name: Nacuity Pharmaceuticals
    url: https://www.nacuity.com/contact/
  x-api-evangelist-provenance: Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at https://www.nacuity.com/wp-json/ (211 routes across the namespaces oembed/1.0, sliderrevolution, wordfence/v1, yoast/v1, exactmetrics/v1, wp/v2, wp-site-health/v1, wp-block-editor/v1 and wp-abilities/v1) and verified against live anonymous responses on 2026-08-04. Every parameter below appears verbatim in the route index `args` for that endpoint, and every operation modelled here returned 200 without credentials. Nacuity Pharmaceuticals publishes no OpenAPI, no developer documentation and no API reference for this surface; the humanURL in apis.yml points at the upstream WordPress REST handbook that defines the wp/v2 contract. Nothing here was obtained with credentials.
servers:
- url: https://www.nacuity.com/wp-json
  description: Production content API
tags:
- name: posts
  description: Blog/news post collection. Registered and reachable, but empty (X-WP-Total 0) — every press release is a page under /news/.
paths:
  /wp/v2/posts:
    get:
      tags:
      - posts
      operationId: listPosts
      summary: List posts
      description: Lists published posts. This deployment returns an empty array (X-WP-Total 0) — Nacuity Pharmaceuticals authors every press release as a page rather than as a post.
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/After'
      - $ref: '#/components/parameters/Before'
      - $ref: '#/components/parameters/ModifiedAfter'
      - $ref: '#/components/parameters/ModifiedBefore'
      - $ref: '#/components/parameters/Exclude'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Order'
      - $ref: '#/components/parameters/Slug'
      - name: author
        in: query
        description: Limit result set to posts assigned to specific authors.
        schema:
          type: array
          items:
            type: integer
      - name: author_exclude
        in: query
        description: Ensure result set excludes posts assigned to specific authors.
        schema:
          type: array
          items:
            type: integer
      - name: categories
        in: query
        description: Limit result set to items with specific category terms.
        schema:
          type: array
          items:
            type: integer
      - name: categories_exclude
        in: query
        description: Limit result set to items except those with specific category terms.
        schema:
          type: array
          items:
            type: integer
      - name: tags
        in: query
        description: Limit result set to items with specific post_tag terms.
        schema:
          type: array
          items:
            type: integer
      - name: tags_exclude
        in: query
        description: Limit result set to items except those with specific post_tag terms.
        schema:
          type: array
          items:
            type: integer
      - name: orderby
        in: query
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      - name: sticky
        in: query
        description: Limit result set to items that are sticky.
        schema:
          type: boolean
      - name: ignore_sticky
        in: query
        description: Whether to ignore sticky posts or not.
        schema:
          type: boolean
      - name: format
        in: query
        description: Limit result set to items assigned one or more given formats.
        schema:
          type: array
          items:
            type: string
      - $ref: '#/components/parameters/Status'
      - $ref: '#/components/parameters/SearchColumns'
      - $ref: '#/components/parameters/SearchSemantics'
      responses:
        '200':
          description: A paginated list of posts. Pagination totals are returned in the X-WP-Total and X-WP-TotalPages headers.
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
            X-WP-TotalPages:
              $ref: '#/components/headers/XWPTotalPages'
            Link:
              $ref: '#/components/headers/LinkPagination'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
        '400':
          $ref: '#/components/responses/InvalidParam'
  /wp/v2/posts/{id}:
    get:
      tags:
      - posts
      operationId: getPost
      summary: Get a post
      parameters:
      - $ref: '#/components/parameters/PathId'
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A post
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    SearchSemantics:
      name: search_semantics
      in: query
      description: How to interpret the search input.
      schema:
        type: string
        enum:
        - exact
    PathId:
      name: id
      in: path
      required: true
      description: Unique identifier for the object.
      schema:
        type: integer
    Status:
      name: status
      in: query
      description: Limit result set to posts assigned one or more statuses. Anonymous callers may only request `publish`.
      schema:
        type: array
        items:
          type: string
        default:
        - publish
    Slug:
      name: slug
      in: query
      description: Limit result set to posts with one or more specific slugs.
      schema:
        type: array
        items:
          type: string
    PerPage:
      name: per_page
      in: query
      description: Maximum number of items to be returned in result set. Values outside 1-100 return a 400 rest_invalid_param.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    Context:
      name: context
      in: query
      description: Scope under which the request is made; determines fields present in response. Anonymous callers may only use `view` and `embed`.
      schema:
        type: string
        enum:
        - view
        - embed
        - edit
        default: view
    Order:
      name: order
      in: query
      description: Order sort attribute ascending or descending.
      schema:
        type: string
        enum:
        - asc
        - desc
        default: desc
    Search:
      name: search
      in: query
      description: Limit results to those matching a string.
      schema:
        type: string
    Before:
      name: before
      in: query
      description: Limit response to posts published before a given ISO8601 compliant date.
      schema:
        type: string
        format: date-time
    ModifiedAfter:
      name: modified_after
      in: query
      description: Limit response to posts modified after a given ISO8601 compliant date.
      schema:
        type: string
        format: date-time
    Offset:
      name: offset
      in: query
      description: Offset the result set by a specific number of items.
      schema:
        type: integer
    SearchColumns:
      name: search_columns
      in: query
      description: Array of column names to be searched.
      schema:
        type: array
        items:
          type: string
    Page:
      name: page
      in: query
      description: Current page of the collection.
      schema:
        type: integer
        minimum: 1
        default: 1
    Exclude:
      name: exclude
      in: query
      description: Ensure result set excludes specific IDs.
      schema:
        type: array
        items:
          type: integer
    ModifiedBefore:
      name: modified_before
      in: query
      description: Limit response to posts modified before a given ISO8601 compliant date.
      schema:
        type: string
        format: date-time
    Include:
      name: include
      in: query
      description: Limit result set to specific IDs.
      schema:
        type: array
        items:
          type: integer
    After:
      name: after
      in: query
      description: Limit response to posts published after a given ISO8601 compliant date.
      schema:
        type: string
        format: date-time
  headers:
    XWPTotal:
      description: Total number of matching records across all pages.
      schema:
        type: integer
    XWPTotalPages:
      description: Total number of result pages at the current per_page.
      schema:
        type: integer
    LinkPagination:
      description: RFC 8288 Link header carrying rel="next" / rel="prev" page links.
      schema:
        type: string
  schemas:
    Error:
      type: object
      description: The WordPress REST error envelope. Note this is NOT RFC 9457 application/problem+json — it is served as application/json with code/message/data.
      required:
      - code
      - message
      - data
      properties:
        code:
          type: string
          description: Machine-readable error slug
          e.g. rest_post_invalid_id.: null
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
            params:
              type: object
              additionalProperties:
                type: string
            details:
              type: object
    RenderedText:
      type: object
      properties:
        rendered:
          type: string
    Post:
      type: object
      properties:
        id:
          type: integer
        date:
          type: string
          format: date-time
        date_gmt:
          type: string
          format: date-time
        guid:
          $ref: '#/components/schemas/RenderedText'
        modified:
          type: string
          format: date-time
        modified_gmt:
          type: string
          format: date-time
        slug:
          type: string
        status:
          type: string
        type:
          type: string
        link:
          type: string
          format: uri
        title:
          $ref: '#/components/schemas/RenderedText'
        content:
          $ref: '#/components/schemas/RenderedText'
        excerpt:
          $ref: '#/components/schemas/RenderedText'
        author:
          type: integer
          description: User id. /wp/v2/users returns 401 rest_user_cannot_view on this deployment, so the id does not resolve anonymously.
        featured_media:
          type: integer
          description: Media id — resolves via getMediaItem.
        categories:
          type: array
          items:
            type: integer
        tags:
          type: array
          items:
            type: integer
        _links:
          type: object
  responses:
    InvalidParam:
      description: One or more query parameters failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            per-page-out-of-bounds:
              value:
                code: rest_invalid_param
                message: 'Invalid parameter(s): per_page'
                data:
                  status: 400
                  params:
                    per_page: per_page must be between 1 (inclusive) and 100 (inclusive)
    NotFound:
      description: The requested object does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            invalid-id:
              value:
                code: rest_post_invalid_id
                message: Invalid post ID.
                data:
                  status: 404
